$primary-blue-logo-color: #161f72;
$primary-pink-logo-color: #ea3d85;
$primary-green-logo-color: #10bf9c;
$secondary-darkblue-color: #15124c;
$secondary-grey-color: #828487;
$secondary-whitegrey-color: #e4e8e8;
$secondary-white-color: #ffffff;
$secondary-darkgreen-color: #2a9d8f;
$primary-red-logo-color: #db0000;
