@import "../../../themes/mixins";
@import "../../../themes/variables";

.edit-game-EditGame {
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../../photos/ContenBG.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 4vw;
  overflow: hidden;

  .overlay-EditGame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

  .game-form-container-EditGame {
    width: 50vw;
    background-image: url("../../../photos/CardBG.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 2vw;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 15px;
      z-index: -1;
    }
    .form-title-EditGame {
      text-align: center;
      @include font-style;
      font-weight: 600;
      font-size: 3vw;
      color: $secondary-white-color;
      width: 100%;
      margin-bottom: 2vw;
    }

    .form-group-EditGame {
      margin-bottom: 1.5vw;
      width: 100%;

      .form-label-EditGame {
        @include font-style;
        font-weight: 400;
        font-size: 2vw;
        color: $secondary-white-color;
        text-align: right;
        width: 100%;
      }

      .input-wrapper-EditGame {
        width: 100%;
        position: relative;

        .game-input-EditGame,
        .game-textarea-EditGame {
          width: 100%;
          padding: 1vw 1vw 1vw 3vw;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 1.2vw;
          background: #f5f5f5;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
          transition: border-color 0.3s ease, box-shadow 0.3s ease;
          margin-top: 1vw;

          &:focus {
            border-color: $primary-pink-logo-color;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
        }

        .game-textarea-EditGame {
          height: 10vw;
          resize: vertical;
        }
      }
    }

    .edit-units-EditGame,
    .add-unit-button-EditGame {
      background-color: $primary-green-logo-color;
      @include font-style;
      font-weight: 200;
      font-size: 2vw;
      color: $secondary-white-color;
      padding: 1vw 2vw;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 1vw;

      &:hover {
        background-color: $primary-pink-logo-color;
      }
    }

    .no-units-EditGame {
      font-size: 1.5vw;
      color: $primary-red-logo-color;
      text-align: center;
      margin-bottom: 2vw;
    }

    .form-buttons-EditGame {
      display: flex;
      justify-content: center;
      margin-top: 2vw;

      .update-button-EditGame {
        background-color: $secondary-white-color;
        @include font_style;
        color: $secondary-darkgreen-color;
        font-size: 1.5vw;
        width: 22vw;
        height: 5vw;
        cursor: pointer;
        transition: background-color 0.3s ease;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border-color: $secondary-darkgreen-color;

        &:hover {
          color: white;
          background-color: $primary-green-logo-color;
          border-color: $primary-pink-logo-color;
        }
      }
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
