@import "../../../themes/mixins";
@import "../../../themes/variables";

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  .hero-container-part-one {
    height: 37vw;
    background-color: $secondary-whitegrey-color;
    border-radius: 0 0 0 10vw;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .hero-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 4vw;

      .hero-img {
        flex: 1;
      }

      .hero-right {
        flex: 1; // Take up remaining space
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        .title {
          @include font_style;
          color: $secondary-darkgreen-color;
          font-size: 4vw;
          font-weight: 500;
          margin-top: -5vw;
          width: 43vw;
          text-align: center;
        }
        .admin-user-name {
          position: relative;
          background: transparent;
          width: 20vw;
          margin-left: 2.5vw;
          .admin-user-name-input {
            @include font_style;
            padding: 0.5vw 3vw 0.5vw 0vw;
            margin-bottom: 1rem;
            width: 15vw;
            text-align: right;
          }
          .navbar-icon {
            position: absolute;
            width: 1.5vw;
            height: 1.5vw;
            top: 10%;
            transform: translateX(-130%);
          }
        }
        .admin-code {
          position: relative;
          background: transparent;
          width: 20vw;
          margin-left: 2.5vw;
          .admin-code-input {
            @include font_style;
            padding: 0.5vw 3vw 0.5vw 0vw;
            margin-bottom: 1rem;
            width: 15vw;
            text-align: right;
          }
          .navbar-icon {
            position: absolute;
            width: 1.5vw;
            height: 1.5vw;
            top: 10%;
            transform: translateX(-130%);
          }
        }
        .login-button {
          padding: 0.5rem 1rem;
          background-color: $secondary-white-color;
          border-color: $secondary-darkgreen-color;
          @include font_style;
          color: $secondary-darkgreen-color;
          margin-top: 2vw;
          font-size: 2vw;
          width: 20vw;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            color: white;
            background-color: $primary-green-logo-color;
            border-color: $primary-pink-logo-color;
          }
        }
      }
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hero-container {
    animation: slideIn 0.5s forwards;
  }

  .hero-container-part-two {
    @include font_style;
    font-size: 2.5vw;
    text-align: center;
  }
}
